$def with (url1, url2)
<header>
<title>Comparateur de pages</title>
</header>
<head></head>
<body>

<style>
form{
	margin:auto;
	width:25%;
}
body {
	margin: 0px;
	padding: 0px;
}
.wrapper1{
	background-color:green;
	width: 50%;
	float: left;
}
.wrapper2{
	background-color:red;
	width: 50%;
	float: right;
}
.bar{
	margin: 0;
  	padding: 0;
	top: 0;
	width: 100%;
	text-align: center;
}
.iframes{
	padding:10px;
}
</style>

<div class="bar">
	<div class="wrapper1">
		<form method="post" action="next?url=$url1">
		<input type="submit" value="Finished testing" />
		</form>
	</div>
	<div class="wrapper2">
		<form method="post" action="sendko?url=$url1">
		<input type="submit" value="Error" />
		</form>
	</div>
</div>
<div class="iframes">
	<iframe src="$url1" width="49.6%" height="10000" align="left" scrollable="no">
	</iframe>
	<iframe src="$url2" width="49.6%" height="10000" align="right" scrollable="no">
	</iframe>
</div>

</body>
