$def with (url1, url2)
<header>Comparateur</header>

<body>

<style>
form{
	margin:auto;
	width:25%;
}
body {
	margin: 0px;
	padding: 0px;
}
.bar{
	margin: 0;
  	padding: 0;
	position: fixed;
	top: 0;
	width: 100%;
	text-align: center;
	background-color:green;
}
</style>

<div class="bar">
	<form method="post" action="next?url=$url1">
	<input type="submit" value="Next"/>
	</form>
</div>

<div class="iframes">
	<iframe src="$url1" width="49.6%" height="10000" align="left" scrollable="no">
	</iframe>
	<iframe src="$url2" width="49.6%" height="10000" align="right" scrollable="no">
	</iframe>
</div>

</body>
